altgraph==0.17.4
asgiref==3.8.1
Django==5.2.1
git-filter-repo==2.47.0
packaging==24.2
pefile==2023.2.7
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pywin32-ctypes==0.2.3
semantic-version==2.10.0
setuptools==76.1.0
setuptools-rust==1.11.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
whitenoise==6.9.0
